/* Icomoon stuff */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-arrow-down:before {
  content: "\e00a";
}
.icon-arrow-up:before {
  content: "\e00b";
}
.icon-arrow-right:before {
  content: "\e00c";
}
.icon-checkmark:before {
  content: "\e17c";
}
.icon-cancel:before {
  content: "\e17d";
}
.icon-arrow-left:before {
  content: "\e009";
}

/* EPT stuff */
#tour-builder-interface{
	margin: 0px;
	position: fixed;
	top: 0px;
	right:0px;
	left: 0px;
	height: 42px;
	width: 100%;
	z-index: 1000000000;
}
#tour-builder-spacer{
	height: 42px;
}
#tour-builder-container .navbar-inner{
	text-align: center;
	margin: 0 -5px;
	border-radius: 0px;
}
#tour-builder-container .navbar-inner .brand{
	font-size:16px !important;
	float:none;
}
#tour-builder-modalDialog input{
	height: auto;
}
#tour-builder-popover-container .popover-footer .footer-previous{
	float: left;
}
#tour-builder-popover-container .popover-footer .footer-next{
	float: right;
}
#tour-builder-popover-container .popover-footer{
	padding: 10px;
}
#tour-builder-container{
	z-index: 999999999;
}
#tour-builder-popover-container{
	z-index: 99999999;
}
.tour-builder-container .tooltip, #tour-builder-popover-container .tooltip {
	z-index: 1000000000;
}
#tour-builder-popover-container .popover {
	width: 236px;
	font-size: 14px;
	cursor: move;
	border-radius: 0px;
	padding: 0px;
}
#tour-builder-popover-container .ui-draggable-disabled{
	cursor: normal;
}
.tour-builder-container .help-inline{
	width: 100%;
}
#tour-builder-popover-container input[type="text"]{
	height: 30px;
	max-height: 30px;
}
#tour-builder-popover-container textarea,
#tour-builder-popover-container input[type="text"]{
	margin-bottom: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#tour-builder-popover-container textarea{
	min-height: 30px;
}
#tour-builder-popover-container .popover .popover-footer .btn-bind,
#tour-builder-popover-container .popover .popover-footer .btn-arrow-position{
	width: 33%;
}
#tour-builder-popover-container .popover .popover-footer .btn-group > .btn-bind:last-child,
#tour-builder-popover-container .popover .popover-footer .btn-group > .btn-arrow-position:last-child{
	width: 34.5%;
}
#tour-builder-popover-container .popover .popover-footer .btn-arrow-points{
	width: 20%;
	min-height: 26px;
}
.navbar [class^="icon-"]{
	margin: 0 5px 0 -20px;
}