#tour-builder-popover-container .btn-group > .popover {
  font-size: 14px;
}
#tour-builder-popover-container .clearfix {
  *zoom: 1;
}
#tour-builder-popover-container .clearfix:before,
#tour-builder-popover-container .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
#tour-builder-popover-container .clearfix:after {
  clear: both;
}
#tour-builder-popover-container a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#tour-builder-popover-container a:hover,
#tour-builder-popover-container a:active {
  outline: 0;
}
#tour-builder-popover-container sub,
#tour-builder-popover-container sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
#tour-builder-popover-container sup {
  top: -0.5em;
}
#tour-builder-popover-container sub {
  bottom: -0.25em;
}
#tour-builder-popover-container img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#tour-builder-popover-container button,
#tour-builder-popover-container input,
#tour-builder-popover-container select,
#tour-builder-popover-container textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
#tour-builder-popover-container button,
#tour-builder-popover-container input {
  *overflow: visible;
  line-height: normal;
}
#tour-builder-popover-container button::-moz-focus-inner,
#tour-builder-popover-container input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
#tour-builder-popover-container button,
#tour-builder-popover-container html input[type="button"],
#tour-builder-popover-container input[type="reset"],
#tour-builder-popover-container input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#tour-builder-popover-container label,
#tour-builder-popover-container select,
#tour-builder-popover-container button,
#tour-builder-popover-container input[type="button"],
#tour-builder-popover-container input[type="reset"],
#tour-builder-popover-container input[type="submit"],
#tour-builder-popover-container input[type="radio"],
#tour-builder-popover-container input[type="checkbox"] {
  cursor: pointer;
}
#tour-builder-popover-container input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
#tour-builder-popover-container input[type="search"]::-webkit-search-decoration,
#tour-builder-popover-container input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#tour-builder-popover-container textarea {
  overflow: auto;
  vertical-align: top;
}
#tour-builder-popover-container a {
  color: #0088cc;
  text-decoration: none;
}
#tour-builder-popover-container a:hover {
  color: #005580;
  text-decoration: underline;
}
#tour-builder-popover-container p {
  margin: 0 0 10px;
}
#tour-builder-popover-container small {
  font-size: 85%;
}
#tour-builder-popover-container strong {
  font-weight: bold;
}
#tour-builder-popover-container em {
  font-style: italic;
}
#tour-builder-popover-container cite {
  font-style: normal;
}
#tour-builder-popover-container h1,
#tour-builder-popover-container h2,
#tour-builder-popover-container h3,
#tour-builder-popover-container h4,
#tour-builder-popover-container h5,
#tour-builder-popover-container h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
#tour-builder-popover-container h1 small,
#tour-builder-popover-container h2 small,
#tour-builder-popover-container h3 small,
#tour-builder-popover-container h4 small,
#tour-builder-popover-container h5 small,
#tour-builder-popover-container h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
#tour-builder-popover-container h1,
#tour-builder-popover-container h2,
#tour-builder-popover-container h3 {
  line-height: 40px;
}
#tour-builder-popover-container h1 {
  font-size: 38.5px;
}
#tour-builder-popover-container h2 {
  font-size: 31.5px;
}
#tour-builder-popover-container h3 {
  font-size: 24.5px;
}
#tour-builder-popover-container h4 {
  font-size: 17.5px;
}
#tour-builder-popover-container h5 {
  font-size: 14px;
}
#tour-builder-popover-container h6 {
  font-size: 11.9px;
}
#tour-builder-popover-container h1 small {
  font-size: 24.5px;
}
#tour-builder-popover-container h2 small {
  font-size: 17.5px;
}
#tour-builder-popover-container h3 small {
  font-size: 14px;
}
#tour-builder-popover-container h4 small {
  font-size: 14px;
}
#tour-builder-popover-container ul,
#tour-builder-popover-container ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
#tour-builder-popover-container ul ul,
#tour-builder-popover-container ul ol,
#tour-builder-popover-container ol ol,
#tour-builder-popover-container ol ul {
  margin-bottom: 0;
}
#tour-builder-popover-container li {
  line-height: 20px;
}
#tour-builder-popover-container ul.unstyled,
#tour-builder-popover-container ol.unstyled {
  margin-left: 0;
  list-style: none;
}
#tour-builder-popover-container ul.inline,
#tour-builder-popover-container ol.inline {
  margin-left: 0;
  list-style: none;
}
#tour-builder-popover-container ul.inline > li,
#tour-builder-popover-container ol.inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
#tour-builder-popover-container dl {
  margin-bottom: 20px;
}
#tour-builder-popover-container dt,
#tour-builder-popover-container dd {
  line-height: 20px;
}
#tour-builder-popover-container dt {
  font-weight: bold;
}
#tour-builder-popover-container dd {
  margin-left: 10px;
}
#tour-builder-popover-container hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
#tour-builder-popover-container blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
#tour-builder-popover-container blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
#tour-builder-popover-container blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
#tour-builder-popover-container blockquote small:before {
  content: '\2014 \00A0';
}
#tour-builder-popover-container q:before,
#tour-builder-popover-container q:after,
#tour-builder-popover-container blockquote:before,
#tour-builder-popover-container blockquote:after {
  content: "";
}
#tour-builder-popover-container address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
#tour-builder-popover-container form {
  margin: 0 0 20px;
}
#tour-builder-popover-container fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
#tour-builder-popover-container label,
#tour-builder-popover-container input,
#tour-builder-popover-container button,
#tour-builder-popover-container select,
#tour-builder-popover-container textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
#tour-builder-popover-container input,
#tour-builder-popover-container button,
#tour-builder-popover-container select,
#tour-builder-popover-container textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#tour-builder-popover-container label {
  display: block;
  margin-bottom: 5px;
}
#tour-builder-popover-container select,
#tour-builder-popover-container textarea,
#tour-builder-popover-container input[type="text"],
#tour-builder-popover-container input[type="password"],
#tour-builder-popover-container input[type="datetime"],
#tour-builder-popover-container input[type="datetime-local"],
#tour-builder-popover-container input[type="date"],
#tour-builder-popover-container input[type="month"],
#tour-builder-popover-container input[type="time"],
#tour-builder-popover-container input[type="week"],
#tour-builder-popover-container input[type="number"],
#tour-builder-popover-container input[type="email"],
#tour-builder-popover-container input[type="url"],
#tour-builder-popover-container input[type="search"],
#tour-builder-popover-container input[type="tel"],
#tour-builder-popover-container input[type="color"],
#tour-builder-popover-container .uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
#tour-builder-popover-container input,
#tour-builder-popover-container textarea,
#tour-builder-popover-container .uneditable-input {
  width: 206px;
}
#tour-builder-popover-container textarea {
  height: auto;
}
#tour-builder-popover-container textarea,
#tour-builder-popover-container input[type="text"],
#tour-builder-popover-container input[type="password"],
#tour-builder-popover-container input[type="datetime"],
#tour-builder-popover-container input[type="datetime-local"],
#tour-builder-popover-container input[type="date"],
#tour-builder-popover-container input[type="month"],
#tour-builder-popover-container input[type="time"],
#tour-builder-popover-container input[type="week"],
#tour-builder-popover-container input[type="number"],
#tour-builder-popover-container input[type="email"],
#tour-builder-popover-container input[type="url"],
#tour-builder-popover-container input[type="search"],
#tour-builder-popover-container input[type="tel"],
#tour-builder-popover-container input[type="color"],
#tour-builder-popover-container .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
#tour-builder-popover-container textarea:focus,
#tour-builder-popover-container input[type="text"]:focus,
#tour-builder-popover-container input[type="password"]:focus,
#tour-builder-popover-container input[type="datetime"]:focus,
#tour-builder-popover-container input[type="datetime-local"]:focus,
#tour-builder-popover-container input[type="date"]:focus,
#tour-builder-popover-container input[type="month"]:focus,
#tour-builder-popover-container input[type="time"]:focus,
#tour-builder-popover-container input[type="week"]:focus,
#tour-builder-popover-container input[type="number"]:focus,
#tour-builder-popover-container input[type="email"]:focus,
#tour-builder-popover-container input[type="url"]:focus,
#tour-builder-popover-container input[type="search"]:focus,
#tour-builder-popover-container input[type="tel"]:focus,
#tour-builder-popover-container input[type="color"]:focus,
#tour-builder-popover-container .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
#tour-builder-popover-container input[type="radio"],
#tour-builder-popover-container input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  margin-top: 1px \9;
  line-height: normal;
}
#tour-builder-popover-container input[type="file"],
#tour-builder-popover-container input[type="image"],
#tour-builder-popover-container input[type="submit"],
#tour-builder-popover-container input[type="reset"],
#tour-builder-popover-container input[type="button"],
#tour-builder-popover-container input[type="radio"],
#tour-builder-popover-container input[type="checkbox"] {
  width: auto;
}
#tour-builder-popover-container .uneditable-input,
#tour-builder-popover-container .uneditable-textarea {
  color: #999999;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
#tour-builder-popover-container .uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
#tour-builder-popover-container .uneditable-textarea {
  width: auto;
  height: auto;
}
#tour-builder-popover-container input:-moz-placeholder,
#tour-builder-popover-container textarea:-moz-placeholder {
  color: #999999;
}
#tour-builder-popover-container input:-ms-input-placeholder,
#tour-builder-popover-container textarea:-ms-input-placeholder {
  color: #999999;
}
#tour-builder-popover-container input::-webkit-input-placeholder,
#tour-builder-popover-container textarea::-webkit-input-placeholder {
  color: #999999;
}
#tour-builder-popover-container .radio,
#tour-builder-popover-container .checkbox {
  min-height: 20px;
  padding-left: 20px;
}
#tour-builder-popover-container .radio input[type="radio"],
#tour-builder-popover-container .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
#tour-builder-popover-container .controls > .radio:first-child,
#tour-builder-popover-container .controls > .checkbox:first-child {
  padding-top: 5px;
}
#tour-builder-popover-container .radio.inline,
#tour-builder-popover-container .checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
#tour-builder-popover-container .radio.inline + .radio.inline,
#tour-builder-popover-container .checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
#tour-builder-popover-container .input-mini {
  width: 60px;
}
#tour-builder-popover-container .input-small {
  width: 90px;
}
#tour-builder-popover-container .input-medium {
  width: 150px;
}
#tour-builder-popover-container .input-large {
  width: 210px;
}
#tour-builder-popover-container .input-xlarge {
  width: 270px;
}
#tour-builder-popover-container .input-xxlarge {
  width: 530px;
}
#tour-builder-popover-container input[class*="span"],
#tour-builder-popover-container select[class*="span"],
#tour-builder-popover-container textarea[class*="span"],
#tour-builder-popover-container .uneditable-input[class*="span"],
#tour-builder-popover-container .row-fluid input[class*="span"],
#tour-builder-popover-container .row-fluid select[class*="span"],
#tour-builder-popover-container .row-fluid textarea[class*="span"],
#tour-builder-popover-container .row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
#tour-builder-popover-container .input-append input[class*="span"],
#tour-builder-popover-container .input-append .uneditable-input[class*="span"],
#tour-builder-popover-container .input-prepend input[class*="span"],
#tour-builder-popover-container .input-prepend .uneditable-input[class*="span"],
#tour-builder-popover-container .row-fluid input[class*="span"],
#tour-builder-popover-container .row-fluid select[class*="span"],
#tour-builder-popover-container .row-fluid textarea[class*="span"],
#tour-builder-popover-container .row-fluid .uneditable-input[class*="span"],
#tour-builder-popover-container .row-fluid .input-prepend [class*="span"],
#tour-builder-popover-container .row-fluid .input-append [class*="span"] {
  display: inline-block;
}
#tour-builder-popover-container input,
#tour-builder-popover-container textarea,
#tour-builder-popover-container .uneditable-input {
  margin-left: 0;
}
#tour-builder-popover-container .controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}
#tour-builder-popover-container input.span12,
#tour-builder-popover-container textarea.span12,
#tour-builder-popover-container .uneditable-input.span12 {
  width: 926px;
}
#tour-builder-popover-container input.span11,
#tour-builder-popover-container textarea.span11,
#tour-builder-popover-container .uneditable-input.span11 {
  width: 846px;
}
#tour-builder-popover-container input.span10,
#tour-builder-popover-container textarea.span10,
#tour-builder-popover-container .uneditable-input.span10 {
  width: 766px;
}
#tour-builder-popover-container input.span9,
#tour-builder-popover-container textarea.span9,
#tour-builder-popover-container .uneditable-input.span9 {
  width: 686px;
}
#tour-builder-popover-container input.span8,
#tour-builder-popover-container textarea.span8,
#tour-builder-popover-container .uneditable-input.span8 {
  width: 606px;
}
#tour-builder-popover-container input.span7,
#tour-builder-popover-container textarea.span7,
#tour-builder-popover-container .uneditable-input.span7 {
  width: 526px;
}
#tour-builder-popover-container input.span6,
#tour-builder-popover-container textarea.span6,
#tour-builder-popover-container .uneditable-input.span6 {
  width: 446px;
}
#tour-builder-popover-container input.span5,
#tour-builder-popover-container textarea.span5,
#tour-builder-popover-container .uneditable-input.span5 {
  width: 366px;
}
#tour-builder-popover-container input.span4,
#tour-builder-popover-container textarea.span4,
#tour-builder-popover-container .uneditable-input.span4 {
  width: 286px;
}
#tour-builder-popover-container input.span3,
#tour-builder-popover-container textarea.span3,
#tour-builder-popover-container .uneditable-input.span3 {
  width: 206px;
}
#tour-builder-popover-container input.span2,
#tour-builder-popover-container textarea.span2,
#tour-builder-popover-container .uneditable-input.span2 {
  width: 126px;
}
#tour-builder-popover-container input.span1,
#tour-builder-popover-container textarea.span1,
#tour-builder-popover-container .uneditable-input.span1 {
  width: 46px;
}
#tour-builder-popover-container .controls-row {
  *zoom: 1;
}
#tour-builder-popover-container .controls-row:before,
#tour-builder-popover-container .controls-row:after {
  display: table;
  content: "";
  line-height: 0;
}
#tour-builder-popover-container .controls-row:after {
  clear: both;
}
#tour-builder-popover-container .controls-row [class*="span"],
#tour-builder-popover-container .row-fluid .controls-row [class*="span"] {
  float: left;
}
#tour-builder-popover-container .controls-row .checkbox[class*="span"],
#tour-builder-popover-container .controls-row .radio[class*="span"] {
  padding-top: 5px;
}
#tour-builder-popover-container input[disabled],
#tour-builder-popover-container select[disabled],
#tour-builder-popover-container textarea[disabled],
#tour-builder-popover-container input[readonly],
#tour-builder-popover-container select[readonly],
#tour-builder-popover-container textarea[readonly] {
  background-color: #eeeeee;
}
#tour-builder-popover-container .control-group.warning .control-label,
#tour-builder-popover-container .control-group.warning .help-block,
#tour-builder-popover-container .control-group.warning .help-inline {
  color: #c09853;
}
#tour-builder-popover-container .control-group.warning .checkbox,
#tour-builder-popover-container .control-group.warning .radio,
#tour-builder-popover-container .control-group.warning input,
#tour-builder-popover-container .control-group.warning select,
#tour-builder-popover-container .control-group.warning textarea {
  color: #c09853;
}
#tour-builder-popover-container .control-group.warning input,
#tour-builder-popover-container .control-group.warning select,
#tour-builder-popover-container .control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#tour-builder-popover-container .control-group.warning input:focus,
#tour-builder-popover-container .control-group.warning select:focus,
#tour-builder-popover-container .control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
#tour-builder-popover-container .control-group.error .control-label,
#tour-builder-popover-container .control-group.error .help-block,
#tour-builder-popover-container .control-group.error .help-inline {
  color: #b94a48;
}
#tour-builder-popover-container .control-group.error .checkbox,
#tour-builder-popover-container .control-group.error .radio,
#tour-builder-popover-container .control-group.error input,
#tour-builder-popover-container .control-group.error select,
#tour-builder-popover-container .control-group.error textarea {
  color: #b94a48;
}
#tour-builder-popover-container .control-group.error input,
#tour-builder-popover-container .control-group.error select,
#tour-builder-popover-container .control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#tour-builder-popover-container .control-group.error input:focus,
#tour-builder-popover-container .control-group.error select:focus,
#tour-builder-popover-container .control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
#tour-builder-popover-container .control-group.error .input-prepend .add-on,
#tour-builder-popover-container .control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
#tour-builder-popover-container .control-group.success .control-label,
#tour-builder-popover-container .control-group.success .help-block,
#tour-builder-popover-container .control-group.success .help-inline {
  color: #468847;
}
#tour-builder-popover-container .control-group.success .checkbox,
#tour-builder-popover-container .control-group.success .radio,
#tour-builder-popover-container .control-group.success input,
#tour-builder-popover-container .control-group.success select,
#tour-builder-popover-container .control-group.success textarea {
  color: #468847;
}
#tour-builder-popover-container .control-group.success input,
#tour-builder-popover-container .control-group.success select,
#tour-builder-popover-container .control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#tour-builder-popover-container .control-group.success input:focus,
#tour-builder-popover-container .control-group.success select:focus,
#tour-builder-popover-container .control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
#tour-builder-popover-container .control-group.success .input-prepend .add-on,
#tour-builder-popover-container .control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
#tour-builder-popover-container input:focus:invalid,
#tour-builder-popover-container textarea:focus:invalid,
#tour-builder-popover-container select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
#tour-builder-popover-container input:focus:invalid:focus,
#tour-builder-popover-container textarea:focus:invalid:focus,
#tour-builder-popover-container select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
#tour-builder-popover-container .form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}
#tour-builder-popover-container .form-actions:before,
#tour-builder-popover-container .form-actions:after {
  display: table;
  content: "";
  line-height: 0;
}
#tour-builder-popover-container .form-actions:after {
  clear: both;
}
#tour-builder-popover-container .help-block,
#tour-builder-popover-container .help-inline {
  color: #595959;
}
#tour-builder-popover-container .help-block {
  display: block;
  margin-bottom: 10px;
}
#tour-builder-popover-container .help-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
#tour-builder-popover-container .input-append{
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}
#tour-builder-popover-container .input-append input,
#tour-builder-popover-container .input-append select,
#tour-builder-popover-container .input-append .uneditable-input,
#tour-builder-popover-container .input-append .dropdown-menu {
  font-size: 14px;
}
#tour-builder-popover-container .input-append input,
#tour-builder-popover-container .input-append select,
#tour-builder-popover-container .input-append .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#tour-builder-popover-container .input-append input:focus,
#tour-builder-popover-container .input-append select:focus,
#tour-builder-popover-container .input-append .uneditable-input:focus {
  z-index: 2;
}
#tour-builder-popover-container .input-append .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#tour-builder-popover-container .input-append .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
#tour-builder-popover-container .input-append input,
#tour-builder-popover-container .input-append select,
#tour-builder-popover-container .input-append .uneditable-input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#tour-builder-popover-container .input-append input + .btn-group .btn:last-child,
#tour-builder-popover-container .input-append select + .btn-group .btn:last-child,
#tour-builder-popover-container .input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#tour-builder-popover-container .input-append .add-on,
#tour-builder-popover-container .input-append .btn,
#tour-builder-popover-container .input-append .btn-group {
  margin-left: -1px;
}
#tour-builder-popover-container .input-append .add-on:last-child,
#tour-builder-popover-container .input-append .btn:last-child,
#tour-builder-popover-container .input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#tour-builder-popover-container .input-prepend.input-append input,
#tour-builder-popover-container .input-prepend.input-append select,
#tour-builder-popover-container .input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#tour-builder-popover-container .input-prepend.input-append input + .btn-group .btn,
#tour-builder-popover-container .input-prepend.input-append select + .btn-group .btn,
#tour-builder-popover-container .input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#tour-builder-popover-container .input-prepend.input-append .add-on:first-child,
#tour-builder-popover-container .input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#tour-builder-popover-container .input-prepend.input-append .add-on:last-child,
#tour-builder-popover-container .input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#tour-builder-popover-container .input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}
#tour-builder-popover-container .form-inline input,
#tour-builder-popover-container .form-horizontal input,
#tour-builder-popover-container .form-inline textarea,
#tour-builder-popover-container .form-horizontal textarea,
#tour-builder-popover-container .form-inline select,
#tour-builder-popover-container .form-horizontal select,
#tour-builder-popover-container .form-inline .help-inline,
#tour-builder-popover-container .form-horizontal .help-inline,
#tour-builder-popover-container .form-inline .uneditable-input,
#tour-builder-popover-container .form-horizontal .uneditable-input,
#tour-builder-popover-container .form-inline .input-prepend,
#tour-builder-popover-container .form-horizontal .input-prepend,
#tour-builder-popover-container .form-inline .input-append,
#tour-builder-popover-container .form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle;
}
#tour-builder-popover-container .form-inline .hide,
#tour-builder-popover-container .form-horizontal .hide {
  display: none;
}
#tour-builder-popover-container .form-inline label,
#tour-builder-popover-container .form-inline .btn-group {
  display: inline-block;
}
#tour-builder-popover-container .form-inline .input-append,
#tour-builder-popover-container .form-inline .input-prepend {
  margin-bottom: 0;
}
#tour-builder-popover-container .form-inline .radio,
#tour-builder-popover-container .form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
#tour-builder-popover-container .form-inline .radio input[type="radio"],
#tour-builder-popover-container .form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
#tour-builder-popover-container .control-group {
  margin-bottom: 10px;
}
#tour-builder-popover-container legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
#tour-builder-popover-container .form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}
#tour-builder-popover-container .form-horizontal .control-group:before,
#tour-builder-popover-container .form-horizontal .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
#tour-builder-popover-container .form-horizontal .control-group:after {
  clear: both;
}
#tour-builder-popover-container .form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
#tour-builder-popover-container .form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}
#tour-builder-popover-container .form-horizontal .controls:first-child {
  *padding-left: 180px;
}
#tour-builder-popover-container .form-horizontal .help-block {
  margin-bottom: 0;
}
#tour-builder-popover-container .form-horizontal input + .help-block,
#tour-builder-popover-container .form-horizontal select + .help-block,
#tour-builder-popover-container .form-horizontal textarea + .help-block,
#tour-builder-popover-container .form-horizontal .uneditable-input + .help-block,
#tour-builder-popover-container .form-horizontal .input-prepend + .help-block,
#tour-builder-popover-container .form-horizontal .input-append + .help-block {
  margin-top: 10px;
}
#tour-builder-popover-container .form-horizontal .form-actions {
  padding-left: 180px;
}
#tour-builder-popover-container .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#tour-builder-popover-container .btn:hover,
#tour-builder-popover-container .btn:active,
#tour-builder-popover-container .btn.active,
#tour-builder-popover-container .btn.disabled,
#tour-builder-popover-container .btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
#tour-builder-popover-container .btn:active,
#tour-builder-popover-container .btn.active {
  background-color: #cccccc \9;
}
#tour-builder-popover-container .btn:first-child {
  *margin-left: 0;
}
#tour-builder-popover-container .btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
#tour-builder-popover-container .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#tour-builder-popover-container .btn.active,
#tour-builder-popover-container .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#tour-builder-popover-container .btn.disabled,
#tour-builder-popover-container .btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#tour-builder-popover-container .btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#tour-builder-popover-container .btn-large [class^="icon-"],
#tour-builder-popover-container .btn-large [class*=" icon-"] {
  margin-top: 4px;
}
#tour-builder-popover-container .btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#tour-builder-popover-container .btn-small [class^="icon-"],
#tour-builder-popover-container .btn-small [class*=" icon-"] {
  margin-top: 0;
}
#tour-builder-popover-container .btn-mini [class^="icon-"],
#tour-builder-popover-container .btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
#tour-builder-popover-container .btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#tour-builder-popover-container .btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#tour-builder-popover-container .btn-block + .btn-block {
  margin-top: 5px;
}
#tour-builder-popover-container input[type="submit"].btn-block,
#tour-builder-popover-container input[type="reset"].btn-block,
#tour-builder-popover-container input[type="button"].btn-block {
  width: 100%;
}
#tour-builder-popover-container .btn-primary.active,
#tour-builder-popover-container .btn-warning.active,
#tour-builder-popover-container .btn-danger.active,
#tour-builder-popover-container .btn-success.active,
#tour-builder-popover-container .btn-info.active,
#tour-builder-popover-container .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
#tour-builder-popover-container .btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#tour-builder-popover-container .btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#tour-builder-popover-container .btn-primary:hover,
#tour-builder-popover-container .btn-primary:active,
#tour-builder-popover-container .btn-primary.active,
#tour-builder-popover-container .btn-primary.disabled,
#tour-builder-popover-container .btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
#tour-builder-popover-container .btn-primary:active,
#tour-builder-popover-container .btn-primary.active {
  background-color: #003399 \9;
}
#tour-builder-popover-container .btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#tour-builder-popover-container .btn-warning:hover,
#tour-builder-popover-container .btn-warning:active,
#tour-builder-popover-container .btn-warning.active,
#tour-builder-popover-container .btn-warning.disabled,
#tour-builder-popover-container .btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
#tour-builder-popover-container .btn-warning:active,
#tour-builder-popover-container .btn-warning.active {
  background-color: #c67605 \9;
}
#tour-builder-popover-container .btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#tour-builder-popover-container .btn-danger:hover,
#tour-builder-popover-container .btn-danger:active,
#tour-builder-popover-container .btn-danger.active,
#tour-builder-popover-container .btn-danger.disabled,
#tour-builder-popover-container .btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
#tour-builder-popover-container .btn-danger:active,
#tour-builder-popover-container .btn-danger.active {
  background-color: #942a25 \9;
}
#tour-builder-popover-container .btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#tour-builder-popover-container .btn-success:hover,
#tour-builder-popover-container .btn-success:active,
#tour-builder-popover-container .btn-success.active,
#tour-builder-popover-container .btn-success.disabled,
#tour-builder-popover-container .btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
#tour-builder-popover-container .btn-success:active,
#tour-builder-popover-container .btn-success.active {
  background-color: #408140 \9;
}
#tour-builder-popover-container .btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#tour-builder-popover-container .btn-info:hover,
#tour-builder-popover-container .btn-info:active,
#tour-builder-popover-container .btn-info.active,
#tour-builder-popover-container .btn-info.disabled,
#tour-builder-popover-container .btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
#tour-builder-popover-container .btn-info:active,
#tour-builder-popover-container .btn-info.active {
  background-color: #24748c \9;
}
#tour-builder-popover-container .btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
#tour-builder-popover-container .btn-inverse:hover,
#tour-builder-popover-container .btn-inverse:active,
#tour-builder-popover-container .btn-inverse.active,
#tour-builder-popover-container .btn-inverse.disabled,
#tour-builder-popover-container .btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
#tour-builder-popover-container .btn-inverse:active,
#tour-builder-popover-container .btn-inverse.active {
  background-color: #080808 \9;
}
#tour-builder-popover-container button.btn,
#tour-builder-popover-container input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
#tour-builder-popover-container button.btn::-moz-focus-inner,
#tour-builder-popover-container input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
#tour-builder-popover-container button.btn.btn-large,
#tour-builder-popover-container input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
#tour-builder-popover-container button.btn.btn-small,
#tour-builder-popover-container input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
#tour-builder-popover-container button.btn.btn-mini,
#tour-builder-popover-container input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
#tour-builder-popover-container .btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 0;
  vertical-align: middle;
  white-space: nowrap;
  *margin-left: .3em;
}
#tour-builder-popover-container .btn-group:first-child {
  *margin-left: 0;
}
#tour-builder-popover-container .btn-group + .btn-group {
  margin-left: 5px;
}
#tour-builder-popover-container .btn-toolbar {
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
#tour-builder-popover-container .btn-toolbar > .btn + .btn,
#tour-builder-popover-container .btn-toolbar > .btn-group + .btn,
#tour-builder-popover-container .btn-toolbar > .btn + .btn-group {
  margin-left: 5px;
}
#tour-builder-popover-container .btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#tour-builder-popover-container .btn-group > .btn + .btn {
  margin-left: -1px;
}
#tour-builder-popover-container .btn-group > .btn,
#tour-builder-popover-container .btn-group > .dropdown-menu,
#tour-builder-popover-container .btn-group > .popover {
  font-size: 14px;
}
#tour-builder-popover-container .btn-group > .btn-mini {
  font-size: 10.5px;
}
#tour-builder-popover-container .btn-group > .btn-small {
  font-size: 11.9px;
}
#tour-builder-popover-container .btn-group > .btn-large {
  font-size: 17.5px;
}
#tour-builder-popover-container .btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
#tour-builder-popover-container .btn-group > .btn:last-child,
#tour-builder-popover-container .btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
#tour-builder-popover-container .btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
#tour-builder-popover-container .btn-group > .btn.large:last-child,
#tour-builder-popover-container .btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
#tour-builder-popover-container .btn-group > .btn:hover,
#tour-builder-popover-container .btn-group > .btn:focus,
#tour-builder-popover-container .btn-group > .btn:active,
#tour-builder-popover-container .btn-group > .btn.active {
  z-index: 2;
}
#tour-builder-popover-container .btn-group .dropdown-toggle:active,
#tour-builder-popover-container .btn-group.open .dropdown-toggle {
  outline: 0;
}
#tour-builder-popover-container .btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  *padding-top: 5px;
  *padding-bottom: 5px;
}
#tour-builder-popover-container .btn-group > .btn-mini + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 2px;
  *padding-bottom: 2px;
}
#tour-builder-popover-container .btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}
#tour-builder-popover-container .btn-group > .btn-large + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
  *padding-top: 7px;
  *padding-bottom: 7px;
}
#tour-builder-popover-container .btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#tour-builder-popover-container .btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}
#tour-builder-popover-container .btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc;
}
#tour-builder-popover-container .btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}
#tour-builder-popover-container .btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}
#tour-builder-popover-container .btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}
#tour-builder-popover-container .btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}
#tour-builder-popover-container .btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}
#tour-builder-popover-container .popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
  color: #444;
  line-height: 20px;
}
#tour-builder-popover-container .popover.top {
  margin-top: -10px;
}
#tour-builder-popover-container .popover.right {
  margin-left: 10px;
}
#tour-builder-popover-container .popover.bottom {
  margin-top: 10px;
}
#tour-builder-popover-container .popover.left {
  margin-left: -10px;
}
#tour-builder-popover-container .popover-title, #tour-builder-popover-container .popover-footer {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
}
#tour-builder-popover-container .popover-footer{
  border-bottom: none;
  border-top: 1px solid #ebebeb;
}
#tour-builder-popover-container .popover-content {
  padding: 9px 14px;
}
#tour-builder-popover-container .popover .arrow,
#tour-builder-popover-container .popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
#tour-builder-popover-container .popover .arrow {
  border-width: 11px;
}
#tour-builder-popover-container .popover .arrow:after {
  border-width: 10px;
  content: "";
}
#tour-builder-popover-container .popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
#tour-builder-popover-container .popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
#tour-builder-popover-container .popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
#tour-builder-popover-container .popover.right .arrow:after {
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
#tour-builder-popover-container .popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
#tour-builder-popover-container .popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
#tour-builder-popover-container .popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
#tour-builder-popover-container .popover.left .arrow:after {
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
#tour-builder-popover-container .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
#tour-builder-popover-container .close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#tour-builder-popover-container button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
#tour-builder-popover-container .pull-right {
  float: right;
}
#tour-builder-popover-container .pull-left {
  float: left;
}
#tour-builder-popover-container .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
#tour-builder-popover-container .fade.in {
  opacity: 1;
}
#tour-builder-popover-container .dropup,
#tour-builder-popover-container .dropdown {
  position: relative;
}
#tour-builder-popover-container .dropdown-toggle {
  *margin-bottom: -3px;
}
#tour-builder-popover-container .dropdown-toggle:active,
#tour-builder-popover-container .open .dropdown-toggle {
  outline: 0;
}
#tour-builder-popover-container .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
#tour-builder-popover-container .dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
#tour-builder-popover-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1020;
  min-width: 140px;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#tour-builder-popover-container .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
#tour-builder-popover-container .dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
#tour-builder-popover-container .dropdown-menu li > a {
  display: block;
  padding: 3px 10px 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}
#tour-builder-popover-container .dropdown-menu li > a:hover,
#tour-builder-popover-container .dropdown-menu li > a:focus,
#tour-builder-popover-container .dropdown-submenu:hover > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
#tour-builder-popover-container .dropdown-menu .active > a,
#tour-builder-popover-container .dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
#tour-builder-popover-container .dropdown-menu .disabled > a,
#tour-builder-popover-container .dropdown-menu .disabled > a:hover {
  color: #999999;
}
#tour-builder-popover-container .dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  cursor: default;
}
#tour-builder-popover-container .open {
  *z-index: 1000;
}
#tour-builder-popover-container .open > .dropdown-menu {
  display: block;
}
#tour-builder-popover-container .pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
#tour-builder-popover-container .dropup .caret,
#tour-builder-popover-container .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}
#tour-builder-popover-container .dropup .dropdown-menu,
#tour-builder-popover-container .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
#tour-builder-popover-container .dropdown-submenu {
  position: relative;
}
#tour-builder-popover-container .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
#tour-builder-popover-container .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
#tour-builder-popover-container .dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
}
#tour-builder-popover-container .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
  margin-top: 5px;
  margin-right: 5px;
}
#tour-builder-popover-container .dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
#tour-builder-popover-container .dropdown-submenu.pull-left {
  float: none;
}
#tour-builder-popover-container .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
#tour-builder-popover-container .dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px;
}
