/* Icomoon stuff */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-arrow-down:before {
  content: "\e00a";
}
.icon-arrow-up:before {
  content: "\e00b";
}
.icon-arrow-right:before {
  content: "\e00c";
}
.icon-checkmark:before {
  content: "\e17c";
}
.icon-cancel:before {
  content: "\e17d";
}
.icon-arrow-left:before {
  content: "\e009";
}
/* Player custom CSS */
#tour-builder-interface{
	margin: 0px;
	position: fixed;
	top: 0px;
	right:0px;
	left: 0px;
	height: 42px;
	width: 100%;
	z-index: 1000000000;
}
#tour-builder-container .popover-footer .footer-previous{
	float: left;
}
#tour-builder-container .popover-footer .footer-next{
	float: right;
}
#tour-builder-container .popover-footer, #tour-builder-container .popover button.close{
  padding: 5px 10px;
}
#tour-builder-container,
#tour-builder-popover-container{
	z-index: 999999999;
}
.tour-builder-container .tooltip {
	z-index: 1000000000;
}
.tour-builder-container .popover {
	width: 236px;
	font-size: 14px;
	cursor: normal;
	border-radius: 0px !important;
}