body, html{
	height: 100%;
}
.content{
	min-height: 100%;
}
.container{
	max-width: 768px;
}
.container h3{
	text-align: center;
}
.btn-large{
	padding: 10px 20px;
}
.well h3{
	font-size: 16px;
}
.footer hr{
	margin-top: 0px;
}
.footer{
	text-align: center;
	height:30px;
	margin-top: -30px;
}
.page{
	padding-bottom: 20px;
}
.help-inline{
	min-width: 80%;
	max-width: 80%;
}
td .help-inline{
	display: none !important;
}
.form-horizontal .control-label{
	width: 20%;
}
.form-horizontal .controls{
	margin-left: 20%;
	padding-left: 10px;
}
.form-horizontal .controls input{
	width: 80%;
}
#action-msg{
	display: none;
	margin: 0 20px 20px 20px;
	text-align: center;
}
#processing{
	width: 250px;
	margin: 0px auto;
	padding-bottom: 40px;
	margin-top: 10px;
	display: none;
}
#processing-container{
	display: none;
	position: fixed;
	background-color: #eee;
	border: 1px solid #999;
	bottom: 0px;
	width: 100%;
	max-width: 768px;
}
.spinner-text{
	position: relative;
	top: 14px;
	left: 50px;
}
.capitalized{
	text-transform: capitalize;
}
.i-val{
	display: none;
}
.border-box{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.td-button{
	width: 90px;
}
a.disabled,
a.disabled:hover,
a.disabled:visited{
	color: #555;
}
.hidden{
	display: none;
}
.nomargin{
	margin-right: -10px;
	margin-left: -10px;
}
.hero{
	background-color: #fff;
}
.maxiwidth{
	max-width: 150px;
}
td,th{
	word-wrap: break-word;
}
td textarea,
td input,
th textarea,
th input{
	max-width: 98%;
	width: 95% !important;
}
code.prettyprint{
	padding: 0px 8px;
}
#pricing table{
	table-layout: fixed;
}
#pricing table td{
	overflow: hidden;
	width: 33%;
	background-color: #fff;
}
#pricing .plan{
	background-color:#fff;
	border:1px solid #aaa;
	text-align:center;
	width:32%;
	float:left;
	padding-top: 10px;
	position: relative;
	z-index: 9;
	word-wrap: break-word;	
}
#plan-save{
	color:#C33700;
}
#pricing .question{
	padding-bottom: 10px;
	color: #000;
}
#pricing .signup-step{
	width:33%;
	background-color:#eee;
	float:left;
	border:1px solid #ccc;
	line-height:30px;
	margin: 20px 0px 0px 0px;
}
#pricing .signup-step.active{
	width:33%; background-color:#007fff;color:#fff;border:1px solid #007fff;
}
.nav-pills li a,.navbar-inverse .navbar-inner{
	-webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.75);
}
.navbar-inverse .navbar-inner{
	height: 42px;
}
.navbar-inverse .navbar-inner .brand, #landing .well, #landing .well .container img, #pricing .well{
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
}
.navbar-inverse .navbar-inner .brand{
	background-color: #007fff;
	padding: 10px 15px;
}
.navbar-inverse .navbar-inner .brand img{
	padding-right: 10px;
	margin-top: -7px;
}
.navbar-inverse .navbar-inner .brand span{
	display: block;
}
.plan2{
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75) !important;
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75) !important;
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75) !important;
}
#landing .well .container img{
	border: 5px solid #fff;	
}