body{
	background-color:#eee;
}
.page{
	padding-bottom: 20px;
}
.header.hero{
	padding: 40px 10px;margin-top:-20px; border-bottom:1px solid #ccc;
}
.content.hero{
	background-color: #eee;padding: 0px 10px;	
}
.header a{
	color: #555;
}
blockquote{
	border-bottom:1px solid #ccc;
}
blockquote[class*="pull-"]{
	border-bottom:1px solid #ccc; float:none; margin-bottom: 0px;
}
blockquote a{
	color: #555;
}
a:hover{	
	color: #222;
	text-decoration: none;
}
.footer{
	height:10px; margin-top:-10px;
}
.footer .navbar{
	max-height:10px;overflow:hidden;
}
.post{
	margin-top: 20px;
}
.content h3{
	text-align: left;
	padding-top: 20px;
}
.content h4{
	padding-bottom: 20px;
}